.sort-input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sort-input-container label {
  color: #7179a5;
  font-size: 18px;
  font-weight: 700;
}

.sort-input-container select {
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s;
}
